@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

/*titulos*/
/*titulos*/
/*Tamaños fuentes*/
/*Tamaños fuentes*/
/*Colores*/
/*Colores*/
.nav__envio {
  background-color: #1D2C53;
  width: 100%;
  height: 40px;
  text-align: center; }
  .nav__envio p {
    box-sizing: content-box;
    padding: 8px;
    color: antiquewhite; }

.nav__cart {
  padding: 10px;
  display: flex;
  justify-content: space-around; }

.logo {
  width: 50px; }

.container__cart {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.nav__1 ul li {
  list-style: none; }
  .nav__1 ul li a {
    text-decoration: none;
    color: #1D2C53; }

.nav__2 {
  display: flex;
  padding-left: 20px;
  padding-right: 40px; }
  .nav__2 img {
    width: 50px;
    height: 50px; }

.cart-products {
  position: absolute;
  top: 20px;
  right: 60px;
  background-color: #fff;
  padding: 0 18px;
  box-shadow: 0 3px 10px black;
  display: none;
  min-width: 290px; }

.X__Close {
  width: 15px;
  height: 15px; }

.navbar-collapse {
  display: flex;
  justify-content: space-around; }
  .navbar-collapse ul li {
    padding: 10px; }
    .navbar-collapse ul li a {
      font-size: 30px;
      color: #1D2C53; }

.Titulo__index {
  text-align: center;
  padding-top: 20px; }
  .Titulo__index p {
    font-size: 15px; }

.MainClothes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  .MainClothes img {
    padding: 50px; }

.camiseta {
  text-align: center; }
  .camiseta p {
    text-align: center; }

.item img {
  width: 100px;
  height: 100px; }

.Product-fin {
  color: #D9D9D9;
  font-size: 25px;
  background-color: #1D2C53; }

.Form {
  padding-top: 200px;
  padding-bottom: 200px;
  display: flex;
  justify-content: space-around; }
  .Form__buton {
    text-align: center; }
    .Form__buton a {
      background-color: #1D2C53;
      border: none; }

.Form__suscribindex {
  width: 900px;
  height: 400px;
  background-color: #D9D9D9; }
  .Form__suscribindex h2 {
    text-align: center;
    padding-top: 15px; }
  .Form__suscribindex p {
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center; }

.camiseta__buton a {
  background-color: #1D2C53;
  border: none; }
