@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

main {
  padding: 50px; }

/*titulos*/
/*titulos*/
/*Tamaños fuentes*/
/*Tamaños fuentes*/
/*Colores*/
/*Colores*/
.nav__envio {
  background-color: #1D2C53;
  width: 100%;
  height: 40px;
  text-align: center; }
  .nav__envio p {
    box-sizing: content-box;
    padding: 8px;
    color: antiquewhite; }

.nav__cart {
  padding: 10px;
  display: flex;
  justify-content: space-around; }

.nav__1 ul li {
  list-style: none; }
  .nav__1 ul li a {
    text-decoration: none;
    color: #1D2C53; }

.nav__2 {
  display: flex;
  padding-left: 20px;
  padding-right: 40px; }
  .nav__2 img {
    width: 50px;
    height: 50px; }

.navbar-collapse {
  display: flex;
  justify-content: space-around; }
  .navbar-collapse ul li {
    padding: 10px; }
    .navbar-collapse ul li a {
      font-size: 30px;
      color: #1D2C53; }

/* footer*/
.footer {
  background-color: #1D2C53;
  display: flex;
  justify-content: space-between; }

.core_info {
  padding-left: 40px;
  padding-top: 30px; }

.core_info ul li {
  list-style: none;
  color: white;
  font-family: 'Port Lligat Slab';
  font-size: 15px;
  font-weight: lighter; }

.follow_us {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px; }

.follow_us p {
  padding-bottom: 10px;
  color: aliceblue;
  font-family: 'Port Lligat Slab';
  font-size: 15px;
  font-weight: lighter; }

.social-media img {
  padding: 5px; }

.payment {
  padding-right: 40px;
  padding-top: 30px; }

.payment p {
  text-align: center;
  color: white;
  padding-bottom: 10px;
  font-family: 'Port Lligat Slab';
  font-size: 15px;
  font-weight: lighter; }

.X__Close {
  width: 15px;
  height: 15px; }

.container__cart {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.cart-products {
  position: absolute;
  top: 20px;
  right: 60px;
  background-color: #fff;
  padding: 0 18px;
  box-shadow: 0 3px 10px black;
  display: none;
  min-width: 290px; }

.item {
  padding: 15px;
  display: flex; }
  .item img {
    width: 100px;
    height: 100px; }

.buttonDeleteCart {
  padding-left: 100px; }

.itemContainer {
  padding: 10px; }

.Product-fin {
  width: 20px;
  height: 30px;
  border-radius: 15%;
  color: #D9D9D9;
  font-size: 20px;
  background-color: #1D2C53; }

.logo {
  width: 50px; }

.Titulo__index {
  text-align: center;
  padding-top: 20px; }
  .Titulo__index p {
    font-size: 15px; }

.Product-fin {
  color: #D9D9D9;
  font-size: 25px;
  background-color: #1D2C53; }

.Form {
  padding-top: 200px;
  padding-bottom: 200px;
  display: flex;
  justify-content: space-around; }
  .Form__buton {
    text-align: center; }
    .Form__buton a {
      background-color: #1D2C53;
      border: none; }

.Form__suscribindex {
  width: 900px;
  height: 400px;
  background-color: #D9D9D9; }
  .Form__suscribindex h2 {
    text-align: center;
    padding-top: 15px; }
  .Form__suscribindex p {
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center; }

/* boton de compra index*/
.camiseta button {
  width: 100%;
  background-color: #1D2C53; }

.camiseta button:hover {
  color: beige;
  background-color: #063356;
  border: solid #1D2C53; }

/* boton de compra index*/
.FormIndex .buttonSubmitIndex {
  padding: 10px;
  background-color: #1D2C53;
  border: none; }

.login {
  background-image: linear-gradient(180deg, #575765 0, #3d405c 25%, #1c2b53 50%, #00184a 75%, #000041 100%); }

.form {
  display: flex;
  justify-content: center;
  padding-top: 150px;
  padding-bottom: 4%; }
  .form__lario {
    width: 500px;
    height: 600px;
    text-align: center;
    background: #fff;
    padding: 100px;
    box-shadow: 6px rgba(255, 255, 255, 0.8);
    border-radius: 10px; }
  .form button {
    background: -webkit-linear-gradient(180deg, #575765 0, #3d405c 25%, #1c2b53 50%, #00184a 75%, #000041 100%);
    border: none;
    display: block;
    width: 80%;
    margin: 10px auto;
    color: #fff;
    height: 40px;
    font-size: 16px;
    cursor: pointer; }

.Registro input {
  background: none;
  color: #c6c6c6;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid black; }

.Registro input:focus {
  outline: none;
  color: #5e5d5d; }

.Registro label {
  color: black;
  font-size: 16px;
  position: relative;
  left: 5px;
  top: 10px;
  transition: 0.5s ease all;
  pointer-events: none; }

.Registro input:focus ~ label,
.Registro input:valid ~ label {
  top: -24px;
  font-size: 12px;
  color: #2196f3; }

.Registro .linea {
  position: relative;
  display: block;
  width: 100%; }

.Registro .linea::before {
  content: "";
  height: 2px;
  width: 0%;
  bottom: 0;
  position: absolute;
  background: linear-gradient(to right, #B06AB3, #4568DC);
  transition: 0.3s ease width;
  left: 0; }

.Registro input:focus ~ .linea::before {
  width: 100%; }

.botonSuscrib {
  padding-top: 50px; }

.contenedorProducto {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 100px;
  gap: 40px; }

.cardSale {
  display: flex;
  justify-content: flex-end; }
  .cardSale .cardSale__categoria {
    padding: 5px;
    color: aliceblue;
    background-color: #1D2C53; }

.card h5 {
  text-align: center; }

.card .precioStock {
  text-align: center; }

.card button {
  background-color: #1D2C53; }

.cardProductos {
  padding: 50px; }

.camiseta {
  background-color: #fff;
  box-shadow: 0 3px 10px black;
  padding: 25px;
  text-align: center; }
  .camiseta p {
    padding: 10px;
    width: 75px;
    background-color: #1D2C53;
    color: #D9D9D9;
    border-radius: 40%; }
  .camiseta img {
    display: flex;
    padding-bottom: 5px; }
  .camiseta span {
    box-sizing: border-box; }

/*Precio camiseta*/
.camiseta b span {
  color: #D9D9D9;
  padding: 7px;
  background-color: #1D2C53;
  border-radius: 30%; }

/*Precio camiseta*/
