@charset "UTF-8";
/*titulos*/
/*titulos*/
/*Tamaños fuentes*/
/*Tamaños fuentes*/
/*Colores*/
/*Colores*/
.nav__envio {
  background-color: #1B2B3B;
  width: 100%;
  height: 40px;
  text-align: center; }
  .nav__envio p {
    box-sizing: content-box;
    padding: 8px;
    color: antiquewhite; }

.nav__cart {
  padding: 10px;
  display: flex;
  justify-content: space-around; }

.nav__2 {
  display: flex;
  padding-left: 20px;
  padding-right: 40px; }
  .nav__2 img {
    width: 50px;
    height: 50px; }

.navbar-collapse {
  display: flex;
  justify-content: space-around; }
  .navbar-collapse ul li {
    padding: 10px; }
    .navbar-collapse ul li :hover {
      color: #CDA279; }
    .navbar-collapse ul li a {
      font-size: 30px;
      color: aliceblue; }

/*Nav Resto pag*/
.navBarAllPrincipal {
  padding: 0; }

.navBarAll {
  text-align: center;
  background-color: #1B2B3B; }

.navPrincipalAll {
  display: flex;
  justify-content: center; }

.nav__1 {
  position: absolute;
  left: 90%; }

/*Nav Resto pag*/
/*NavSecundarioProductos*/
.NavSecundarioProductos {
  display: flex;
  padding: 20px; }
  .NavSecundarioProductos ul {
    border-radius: 5%; }
    .NavSecundarioProductos ul li button {
      color: #740606;
      font-size: 2em; }

/*NavSecundarioProductos*/
.X__Close {
  width: 15px;
  height: 15px; }

.container__cart {
  display: flex;
  justify-content: flex-end;
  padding: 2%; }
  .container__cart .nav__1 {
    display: flex; }
  .container__cart .loginIndex ul {
    align-items: center; }
    .container__cart .loginIndex ul li a img {
      width: 30px; }

.cart-products {
  position: absolute;
  top: 20px;
  right: 60px;
  background-color: #fff;
  padding: 0 18px;
  box-shadow: 0 3px 10px black;
  display: none;
  min-width: 290px; }

.item {
  padding: 15px;
  display: flex; }
  .item img {
    width: 100px;
    height: 100px; }

.buttonDeleteCart {
  padding-left: 100px; }

.itemContainer {
  padding: 10px; }

.Product-fin {
  width: 20px;
  height: 30px;
  border-radius: 15%;
  color: #D9D9D9;
  font-size: 20px;
  background-color: #1D2C53; }

/*NUEVO CART*/
.imgProductCart {
  width: 100px;
  height: 100px; }

.ElementCount {
  width: 50px;
  height: 50px; }

.cart1 {
  background-color: none; }

.loginIndex {
  display: flex;
  gap: 10px; }

.logo {
  width: 50px; }

.Titulo__index {
  text-align: center;
  padding-top: 20px; }
  .Titulo__index p {
    font-size: 15px; }

.container__index {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  max-height: 800px;
  position: relative; }
  .container__index h1 {
    text-align: center;
    padding-top: 8%;
    color: aliceblue; }

.container__index::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url(../img/BackgroudIndex.jpg);
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 96%, 0 80%);
  z-index: -1; }

.Product-fin {
  color: #D9D9D9;
  font-size: 25px;
  background-color: #1D2C53; }

.Form {
  padding-top: 200px;
  padding-bottom: 200px;
  display: flex;
  justify-content: space-around; }
  .Form__buton {
    text-align: center; }
    .Form__buton a {
      background-color: #1D2C53;
      border: none; }

.Form__suscribindex {
  width: 900px;
  height: 400px;
  background-color: #D9D9D9; }
  .Form__suscribindex h2 {
    text-align: center;
    padding-top: 15px; }
  .Form__suscribindex p {
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center; }

/*Main*/
.ContainerMainIndex {
  width: 100%;
  min-height: 400px;
  display: flex;
  gap: 20px; }
  .ContainerMainIndex .CardMainIndex {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    border-radius: 5px;
    width: 60%;
    background-image: url(../img/MainBuceo.png);
    background-size: cover;
    box-shadow: 3px 5px 5px rgba(3, 32, 51, 0.8); }
    .ContainerMainIndex .CardMainIndex h2 {
      padding: 12px;
      color: aliceblue; }
  .ContainerMainIndex .CardMainIndex2 {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    border-radius: 5px;
    box-shadow: 3px 5px 5px rgba(3, 32, 51, 0.8);
    width: 40%;
    background-image: url(../img/MainArrecife.png);
    background-size: cover; }
    .ContainerMainIndex .CardMainIndex2 h3 {
      padding: 12px;
      color: aliceblue; }

.CardTextMain {
  opacity: 0;
  transition: .5s; }
  .CardTextMain p {
    padding: 5px;
    font-size: 24px; }

.CardMainIndex:hover .CardTextMain {
  opacity: 1; }

.CardTextMain2 {
  opacity: 0;
  transition: .5s; }
  .CardTextMain2 p {
    padding: 10px;
    font-size: 18px;
    color: aliceblue; }

.CardMainIndex2:hover .CardTextMain2 {
  opacity: 1; }

/*Main*/
/*TESTIMONY*/
.Testimony {
  padding: 50px; }
  .Testimony .TestimonyBodyShow {
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out; }
  .Testimony .TestimonyContainer {
    border-radius: 5px;
    background-color: #9B8D83;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center; }
    .Testimony .TestimonyContainer .TestimonyArrow {
      width: 90%;
      cursor: pointer; }
    .Testimony .TestimonyContainer .TestimonyBody {
      display: grid;
      grid-template-columns: 1fr max-content;
      justify-content: space-between;
      align-items: center;
      gap: 2em;
      grid-column: 2/3;
      grid-row: 1/2;
      opacity: 0;
      pointer-events: none; }
      .Testimony .TestimonyContainer .TestimonyBody .TestimonyImg {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        object-fit: cover;
        object-position: 50% 30%; }
      .Testimony .TestimonyContainer .TestimonyBody .testimonyText {
        max-width: 700px; }
        .Testimony .TestimonyContainer .TestimonyBody .testimonyText .TestimonyCourse {
          display: inline-block;
          color: aliceblue;
          padding: 5px; }
    .Testimony .TestimonyContainer .TestimonyBodyShow {
      pointer-events: unset;
      opacity: 1;
      transition: opacity 1.5s ease-in-out; }

/*TESTIMONY*/
/* boton de compra index*/
.camiseta button {
  width: 100%;
  background-color: #1D2C53; }

.camiseta button:hover {
  color: beige;
  background-color: #063356;
  border: solid #1D2C53; }

/* boton de compra index*/
.FormIndex .buttonSubmitIndex {
  padding: 10px;
  background-color: #1D2C53;
  border: none; }

.buttonIndex {
  display: flex;
  justify-content: center; }
  .buttonIndex button {
    color: aliceblue; }

.Cart__Button button {
  background-color: unset;
  border: none; }
  .Cart__Button button img {
    width: 35px;
    height: 35px; }

/*Boton Register*/
.RegitreIndex a img {
  width: 35px;
  height: 35px; }

.login {
  background-image: linear-gradient(180deg, #575765 0, #3d405c 25%, #1c2b53 50%, #00184a 75%, #000041 100%); }

.form {
  display: flex;
  justify-content: center;
  padding-top: 150px;
  padding-bottom: 4%; }
  .form__lario {
    width: 500px;
    height: 600px;
    text-align: center;
    background: #fff;
    padding: 100px;
    box-shadow: 6px rgba(255, 255, 255, 0.8);
    border-radius: 10px; }
  .form button {
    background: -webkit-linear-gradient(180deg, #575765 0, #3d405c 25%, #1c2b53 50%, #00184a 75%, #000041 100%);
    border: none;
    display: block;
    width: 80%;
    margin: 10px auto;
    color: #fff;
    height: 40px;
    font-size: 16px;
    cursor: pointer; }

.Registro input {
  background: none;
  color: #c6c6c6;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid black; }

.Registro input:focus {
  outline: none;
  color: #5e5d5d; }

.Registro label {
  color: black;
  font-size: 16px;
  position: relative;
  left: 5px;
  top: 10px;
  transition: 0.5s ease all;
  pointer-events: none; }

.Registro input:focus ~ label,
.Registro input:valid ~ label {
  top: -24px;
  font-size: 12px;
  color: #2196f3; }

.Registro .linea {
  position: relative;
  display: block;
  width: 100%; }

.Registro .linea::before {
  content: "";
  height: 2px;
  width: 0%;
  bottom: 0;
  position: absolute;
  background: linear-gradient(to right, #B06AB3, #4568DC);
  transition: 0.3s ease width;
  left: 0; }

.Registro input:focus ~ .linea::before {
  width: 100%; }

.botonSuscrib {
  padding-top: 50px; }

.contenedorProducto {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 100px;
  gap: 40px; }

.tittleProductos {
  padding-left: 20px; }

.cardSale {
  display: flex;
  justify-content: flex-end; }
  .cardSale .cardSale__categoria {
    padding: 5px;
    color: aliceblue;
    background-color: #1D2C53; }

.card h5 {
  text-align: center; }

.card .precioStock {
  text-align: center; }

.card button {
  background-color: #1D2C53; }

.cardProductos {
  padding: 50px; }

.camiseta {
  background-color: #fff;
  box-shadow: 0 3px 10px black;
  padding: 25px;
  text-align: center;
  border-radius: 5px; }
  .camiseta p {
    padding: 10px;
    width: 75px;
    background-color: #1D2C53;
    color: #D9D9D9;
    border-radius: 40%; }
  .camiseta img {
    display: flex;
    padding-bottom: 5px; }
  .camiseta span {
    box-sizing: border-box; }

/*Precio camiseta*/
.camiseta b span {
  color: #D9D9D9;
  padding: 7px;
  background-color: #1D2C53;
  border-radius: 30%; }

/*Precio camiseta*/
/*PRODUDCTOS 2*/
.productsMenuDesp {
  display: flex;
  flex-wrap: wrap; }

footer {
  background-color: #1B2B3B;
  color: white; }
  footer .footer__tittle {
    margin-bottom: 20px; }
  footer .footer__container {
    padding: 10px;
    display: flex;
    justify-content: space-around; }
  footer .footer__nav {
    min-width: 350px; }
    footer .footer__nav h3 {
      padding: 0; }
    footer .footer__nav ul {
      padding: 0;
      text-align: justify; }
      footer .footer__nav ul li {
        list-style: none; }
        footer .footer__nav ul li :hover {
          color: #CDA279; }
  footer .MetodosPago {
    text-align: center; }
  footer .footer__Suscr {
    align-items: center; }
  footer .footer__form {
    text-align: center; }
    footer .footer__form .TextEmailFooter {
      width: 150;
      height: 30px; }
  footer .Copyright {
    text-align: center; }

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

main {
  padding: 50px; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0; }

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block; }

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent; }

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder; }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%; }

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none; }

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible; }

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none; }

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline; }

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto; }

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block; }

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item; }

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none; }

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none; }
