@import "./partials/normalize";
@import "./utilities/var";
@import "./utilities/mixins";
@import "./pages/nav";
@import "./pages/cart";
@import "./pages/home";
@import "./pages/buttons";
@import "./pages/login";
@import "./pages/productos";
@import "./pages/CoralGalery";
@import "./pages/Footer";
@import "./partials/MediaQ";
