@media screen and (min-width:991px) {

    .containerLinksNavFooter {
        h5 {
            text-align: justify;
        }

        .nav__link {
            h5 {
                text-align: justify;
            }

            li {
                list-style: none;
                text-align: justify;

                :hover {
                    color: $Hover-Color;
                }
            }
        }
    }

}

@media screen and (max-width:895px) {

    .container__cart {
        height: 40px;

    }



}

@media screen and (max-width:546px) {
    .nav__1 {
        left: 78%;
    }
   

    .GaleryItem {
        width: 150px;
        height: 120px;

    }

    .GaleryContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }













}


@media screen and (max-width:991px) {
    .ContainerMainIndex {
        width: 100%;

        display: flex;
        flex-wrap: wrap;

        .CardMainIndex {
            display: flex;
            flex-wrap: wrap;
            align-content: space-between;
            border-radius: 5px;
            width: 100%;
            height: 50%;




        }

        .CardMainIndex2 {
            display: flex;
            flex-wrap: wrap;
            align-content: space-between;
            border-radius: 5px;

            width: 100%;

            h3 {
                padding: 12px;
                color: aliceblue;

            }
        }
    }

    .CardTextMain2 {
        opacity: 1;

        p {
            padding: 5px;
            font-size: 15px;
            color: rgb(254, 255, 249);
            text-align: center;
        }
    }

    .CardTextMain {
        opacity: 1;
    }
}

@media screen and (max-width:632px) {
    .Testimony {
        .TestimonyContainer {
            grid-template-columns: 30px 1fr 30px;


            .TestimonyBody {
                grid-template-columns: 1fr;
                grid-template-rows: max-content max-content;
                gap: 3em;
                justify-items: center;




            }


        }


    }



}