
/*Boton compra Productos*/
.camiseta {
    button {
        outline: 0;
        border: 0;
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 50px;
        border-radius: 0.5em;
        box-shadow: 0 0.625em 1em 0 $primary-color;
        overflow: hidden;
        text-align: center;

    }

    button div {
        transform: translateY(0px);
        width: 100%;
    }

    button,
    button div {
        transition: 0.6s cubic-bezier(.16, 1, .3, 1);
    }

    button div span {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 50px;
        padding: 0.75em 1.125em;
    }

    button div:nth-child(1) {
        background-color: $primary-color;
    }

    button div:nth-child(2) {
        background-color: $Hover-Color;
    }

    button:hover {
        box-shadow: 0 0.625em 1em 0 rgba(33, 220, 98, 0.35);
    }

    button:hover div {
        transform: translateY(-50px);
    }

    button a {
        font-size: 17px;
        font-weight: bold;
        color: #ffffff;
        text-decoration: none;

    }

    button:active {
        transform: scale(0.95);
    }

}


.FormIndex {
    .buttonSubmitIndex {
        padding: 10px;
        background-color: $primary-color;
        border: none;
    }
}


.buttonIndex {
    display: flex;
    justify-content: center;

    button {
        color: aliceblue;

    }
}

.Cart__Button {
    button {
        background-color: unset;
        border: none;

        img {
            width: 35px;
            height: 35px;

        }

    }
}


/*Boton Register*/

.RegitreIndex {
    a {
        :hover{
            width: 15px;
        }
        img {
            width: 35px;
            height: 35px;
            

        }
    }
}
/*Home Menu Responsive*/
.container-fluid{
.menuButton {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 13%;
    color: #ffffff;
    width: 2.5em;
    height: 2em;
    border-radius: 0.5em;
    background: transparent;
    border: hidden;
    transition: all .3s;
   
  }
  
  .menuButton:hover {
    border: 1px solid white;
  }
  
  .menuButton:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5,
               inset -4px -4px 12px #ffffff;
  }
  
  input[type = "checkbox"] {
    display: none;
    visibility: hidden;
   
  }
  
  .menuButton span {
    width: 30px;
    height: 4px;
    background: #ffffff;
    border-radius: 100px;
    transition: 0.3s ease;
  }
  
  input[type]:checked ~ span.top {
    transform: translateY(290%)rotate(45deg);
    width: 40px;
    
  }
  
  input[type]:checked ~ span.bot {
    transform: translateY(-270%) rotate(-45deg);
    width: 40px;
    box-shadow: 0 0 10px #495057;
  }
  
  input[type]:checked ~ span.mid {
    transform: translateX(-20px);
    opacity: 0;
  }
}

/*Home Menu Responsive*/

/**Boton de delete*/
.deleteCart {
    width: 40px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: red;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
    background: #e62222;





    svg {
        width: 15px;
        height: 15px;
        fill: $primary-color;

        :hover {
            fill: red;
            transition: all 200ms;
        }
    }

}

.ElementCount {
    height: 20px;

    border: none;

}


.totalCartPrincipal {
    padding-bottom: 20px;

    /* Boton de realizar compra */
    .button {
        padding: 1em 2em;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        letter-spacing: 5px;
        text-transform: uppercase;
        transition: all 1000ms;
        font-size: 15px;
        position: relative;
        overflow: hidden;
        background-color: $primary-color;

        a {
            color: #ffffff;
            text-decoration: none;
        }
    }

    button:hover {
        color: #ffffff;
        transform: scale(1.1);
        outline: 2px solid #70bdca;
        box-shadow: 4px 5px 17px -4px #268391;
    }

    button::before {
        content: "$$$$$$$";
        position: absolute;
        left: -50px;
        width: 0;
        height: 100%;
        background-color: $Hover-Color;
        transform: skewX(45deg);
        z-index: -1;
        transition: width 1000ms;
    }

    button:hover::before {
        width: 250%;
    }

}