
/* boton de compra index*/
.camiseta{
    button{
        width: 100%;
        background-color: $primary-color;
    }
    button:hover{
        color: beige;
        background-color: rgb(6, 51, 86);
        border: solid $primary-color;
        
    }
    
}
/* boton de compra index*/

.FormIndex{
    .buttonSubmitIndex{
        padding:10px ;
        background-color: $primary-color;
        border: none;
    }
}
