.X__Close {

    width: 15px;
    height: 15px;
}

.container__cart {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2%;
    .loginIndex{
        ul{
            li{
                a{
                    img{
                        width: 30px;
                        
                        
                    }
                    
                }
            }
        }
    }
}



.cart-products {
    position: absolute;
    top: 20px;
    right: 60px;
    background-color: #fff;
    padding: 0 18px;
    box-shadow: 0 3px 10px black;
    display: none;

    min-width: 290px;

}
.item {
    padding: 15px;
    display: flex;

    img {
        width: 100px;
        height: 100px;
    }

}

.buttonDeleteCart {
    padding-left: 100px;
}

.itemContainer {
    padding: 10px;
}

.Product-fin {
    width: 20px;
    height: 30px;
    border-radius: 15%;
    color: #D9D9D9;
    font-size: 20px;
    background-color: $primary-color
}





/*NUEVO CART*/
.imgProductCart{
    width: 100px;
    height: 100px;
}

.ElementCount{
    width: 50px;
    height: 50px;
}


.cart1{
    background-color: none;
}