.tituloGalery {
    text-align: center;
}




.GaleryItem {
    width: 240px;
    margin-bottom: 30px;
    border-radius: 12px;
    background-color: $Hover-Color;
    box-shadow: 0 3px 10px black;
    
   
}

.GaleryItem:hover{
    filter: opacity(0.7);
   
}

.GaleryContainer {
    margin: 0 auto;
    display: block;
    padding: 2%;
}