footer {
    background-color: $Fondo-color;
    color: rgb(255, 255, 255);



.FooterContainerSecondary{
    justify-content: space-around;
    
}
    .MetodosPago {
        text-align: center;
    }

    .footer__Suscr {
        align-items: center;
    }

    .footer__form {
        text-align: center;

    }
}

.Footer__Pay {
    img {
        width: 50px;
        height: px;
    }
}

.footerNewssletter{
    text-align: justify;
}