footer{
    background-color: $Fondo-color;
    color: rgb(255, 255, 255);

    .footer__tittle{
        
       
        margin-bottom: 20px;
    
    }

.footer__container{
    padding: 10px;
    display: flex;
    justify-content: space-around;
 
}



.footer__nav{
    min-width: 350px;
    h3{
        padding: 0;
    }
    ul{
        padding: 0;
        text-align: justify;
        li{
            list-style: none;
            :hover{
                color: $Hover-Color;
            }
            
        }
    }
    
}


.MetodosPago{
   text-align: center;
}

.footer__Suscr{
    align-items: center;
}

.footer__form{
    text-align: center;
    

    .TextEmailFooter{
        width: 150;
        height: 30px;
        
    }
    
}




.Copyright{
    text-align: center;
}


}

