.nav__envio {
    background-color: $primary-color;
    width: 100%;
    height: 40px;
    text-align: center;

    p {
        box-sizing: content-box;
        padding: 8px;
        color: antiquewhite;
    }

}

.nav__cart {
    padding: 10px;
    display: flex;
    justify-content: space-around
}

.logo {
    width: 50px;

}

.nav__1 {
    ul {
        list-style: none;
        display: flex;
        padding-left: 85%;

        li {
            a {
                color: $primary-color;
                text-decoration: none;
                padding-left: 25px;
                font-size: 20px;
            }
        }
    }
}

.navbar-collapse{
    display: flex;
    justify-content: space-around;
    ul{
        li{
            padding: 10px;
            a{
                font-size: $Letranav;
                color: $primary-color;
                
            }
        }
    }
}

.Titulo__index{
    text-align: center;
    padding-top: 20px;
    p{
        font-size: $titulos-min;
    }
}

.main__clothes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    img{
        padding: 50px;
    }
}

.camiseta{
    &__buton{
        text-align: center;
    }
    p{
        text-align: center;
    }
    
}
.Form{
    padding-top: 200px;
    padding-bottom: 200px;
    display: flex;
    justify-content: space-around;
    &__buton{
        text-align: center;
        a{
            background-color: $primary-color;
            border: none;
        }
    }
}
.Form__suscribindex{
    width: 900px;
    height: 400px;
    background-color: #D9D9D9;
    h2{
        text-align: center;
        padding-top: 15px;
    }
    p{
       padding-top: 40px;
       padding-left:40px ;
       padding-right:40px ;
        text-align: center; 
    }
}
.camiseta__buton{
    a{
        background-color: $primary-color;
        border: none;  
    }
}