
.logo {
    width: 50px;

}



.Titulo__index {
    text-align: center;
    padding-top: 20px;

    p {
        font-size: $titulos-min;
    }
}





.Product-fin {
    color: #D9D9D9;
    font-size: 25px;
    background-color: $primary-color;
}

.Form {
    padding-top: 200px;
    padding-bottom: 200px;
    display: flex;
    justify-content: space-around;

    &__buton {
        text-align: center;

        a {
            background-color: $primary-color;
            border: none;
        }
    }
}

.Form__suscribindex {
    width: 900px;
    height: 400px;
    background-color: #D9D9D9;

    h2 {
        text-align: center;
        padding-top: 15px;
    }

    p {
        padding-top: 40px;
        padding-left: 40px;
        padding-right: 40px;
        text-align: center;
    }
}
