/*PopIndex*/
.AlertRegion{
    color: red;

}

.PopSwal{
    border-radius: 2%;
}

.ColorInputSwal{
   background-color: aliceblue;
   color: $primary-color;
}



/*PopIndex*/
.Titulo__index {
    text-align: center;
    padding-top: 20px;

    p {
        font-size: $titulos-min;
    }
}

.container__index {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;

    h1 {
        text-align: center;
        padding-top: 8%;
        color: aliceblue;
    }
}

.container__index::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url(../img/BackgroudIndex.jpg);
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 96%, 0 80%);
    z-index: -1;
}




.Product-fin {
    color: #D9D9D9;
    font-size: 25px;
    background-color: $primary-color;
}

.Form {
    padding-top: 200px;
    padding-bottom: 200px;
    display: flex;
    justify-content: space-around;

    &__buton {
        text-align: center;

        a {
            background-color: $primary-color;
            border: none;
        }
    }
}

.Form__suscribindex {
    width: 900px;
    height: 400px;
    background-color: #D9D9D9;

    h2 {
        text-align: center;
        padding-top: 15px;
    }

    p {
        padding-top: 40px;
        padding-left: 40px;
        padding-right: 40px;
        text-align: center;
    }
}

/*Main*/
.ContainerMainIndex {
    width: 100%;
    min-height: 400px;
    display: flex;
    gap: 20px;

    .CardMainIndex {
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        border-radius: 5px;
        width: 60%;
        background-image: url(../img/MainBuceo.png);
        background-size: cover;
        box-shadow: 3px 5px 5px rgba(3, 32, 51, .8);

        h2 {
            padding: 12px;
            color: aliceblue;

        }

    }

    .CardMainIndex2 {
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        border-radius: 5px;
        box-shadow: 3px 5px 5px rgba(3, 32, 51, .8);
        width: 40%;
        background-image: url(../img/MainArrecife.png);
        background-size: cover;

        h3 {
            padding: 12px;
            color: aliceblue;

        }
    }

}

.CardTextMain {
    opacity: 0;
    transition: .5s;

    p {
        padding: 5px;
        font-size: 24px;
    }

}

.CardMainIndex:hover .CardTextMain {
    opacity: 1;
}





.CardTextMain2 {
    opacity: 0;
    transition: .5s;

    p {
        padding: 10px;
        font-size: 18px;
        color: aliceblue;
    }

}


.CardMainIndex2:hover .CardTextMain2 {
    opacity: 1;
}

/*Main*/


/*TESTIMONY*/
.Testimony {
    padding: 50px;
    


    .TestimonyBodyShow {
        pointer-events: unset;
        opacity: 1;
        transition: opacity 1.5s ease-in-out;
    }



    .TestimonyContainer {
        border-radius: 5px;
        background-color: #9B8D83;
        display: grid;
        grid-template-columns: 50px 1fr 50px;
        gap: 1em;
        align-items: center;

        .TestimonyArrow {
            width: 90%;
            cursor: pointer;
        }


        .TestimonyBody {
            display: grid;
            grid-template-columns: 1fr max-content;
            justify-content: space-between;
            align-items: center;
            gap: 2em;
            grid-column: 2/3;
            grid-row: 1/2;
            opacity: 0;
            pointer-events: none;

            .TestimonyImg {
                width: 250px;
                height: 250px;
                border-radius: 50%;
                object-fit: cover;
                object-position: 50% 30%;
            }

            .testimonyText {
                max-width: 700px;

                .TestimonyCourse {
                    display: inline-block;
                    color: aliceblue;
                    padding: 5px;

                }

            }

        }

        .TestimonyBodyShow {
            pointer-events: unset;
            opacity: 1;
            transition: opacity 1.5s ease-in-out;
        }

    }
}


/*TESTIMONY*/