.nav__envio {
    background-color: $primary-color;
    width: 100%;
    height: 40px;
    text-align: center;

    p {
        box-sizing: content-box;
        padding: 8px;
        color: antiquewhite;
    }

}

.nav__cart {
    padding: 10px;
    display: flex;
    justify-content: space-around
}


.logo {
    width: 50px;

}

.container__cart{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav__1{
    ul{
        li{
            list-style: none;
            a{
                text-decoration: none;
                color: $primary-color;
            }
            
        }
    }
}


.nav__2{
    display: flex;
    padding-left: 20px;
    padding-right: 40px;
    img
    {width: 50px;
        height: 50px;
    }
}



.cart-products{
    position: absolute;
    top: 20px;
    right: 60px;
    background-color: #fff;
    padding: 0 18px;
    box-shadow: 0 3px 10px black;
    display: none;

    min-width: 290px;
    
}

.X__Close{
    
    width: 15px;
    height: 15px;
}









.navbar-collapse {
    display: flex;
    justify-content: space-around;

    ul {
        li {
            padding: 10px;

            a {
                font-size: $Letranav;
                color: $primary-color;

            }
        }
    }
}

.Titulo__index {
    text-align: center;
    padding-top: 20px;

    p {
        font-size: $titulos-min;
    }
}

.MainClothes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    img {
        padding: 50px;
    }
}

.camiseta {
    text-align: center;
    p {
        text-align: center;
    }
}


.item{
    display: flex;
    img{
        width: 100px;
        height: 100px;
    }
}

.Product-fin{
    color: #D9D9D9;
    font-size: 25px;
    background-color: $primary-color
}

.Form {
    padding-top: 200px;
    padding-bottom: 200px;
    display: flex;
    justify-content: space-around;

    &__buton {
        text-align: center;

        a {
            background-color: $primary-color;
            border: none;
        }
    }
}

.Form__suscribindex {
    width: 900px;
    height: 400px;
    background-color: #D9D9D9;

    h2 {
        text-align: center;
        padding-top: 15px;
    }

    p {
        padding-top: 40px;
        padding-left: 40px;
        padding-right: 40px;
        text-align: center;
    }
}

.camiseta__buton {
    a {
        background-color: $primary-color;
        border: none;
    }
}

/*carrito de compras interior*/


