.nav__envio {
    background-color: $primary-color;
    width: 100%;
    height: 40px;
    text-align: center;

    p {
        box-sizing: content-box;
        padding: 8px;
        color: antiquewhite;
    }

}

.nav__cart {
    padding: 10px;
    display: flex;
    justify-content: space-around
}

.nav__1 {
    ul {
        li {
            list-style: none;

            a {
                text-decoration: none;
                color: aliceblue;
            }

        }
    }
}

.nav__2 {
    display: flex;
    padding-left: 20px;
    padding-right: 40px;

    img {
        width: 50px;
        height: 50px;
    }
}

.navbar-collapse {
    display: flex;
    justify-content: space-around;

    ul {
        li {
            padding: 10px;

            a {
                font-size: $Letranav;
                color: aliceblue;

            }
        }
    }
}

/* footer*/
.footer {
    background-color: $primary-color;
    display: flex;
    justify-content: space-between
}

.core_info {
    padding-left: 40px;
    padding-top: 30px;
}

.core_info ul li {
    list-style: none;
    color: white;
    font-family: 'Port Lligat Slab';
    font-size: 15px;
    font-weight: lighter;
}

.follow_us {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.follow_us p {
    padding-bottom: 10px;
    color: aliceblue;
    font-family: 'Port Lligat Slab';
    font-size: 15px;
    font-weight: lighter;
}

.social-media img {
    padding: 5px;
}

.payment {
    padding-right: 40px;
    padding-top: 30px;
}

.payment p {
    text-align: center;
    color: white;
    padding-bottom: 10px;
    font-family: 'Port Lligat Slab';
    font-size: 15px;
    font-weight: lighter;
}