.nav__envio {
    background-color: $Fondo-color;
    width: 100%;
    height: 40px;
    text-align: center;

    p {
        box-sizing: content-box;
        padding: 8px;
        color: antiquewhite;
    }

}

.nav__cart {
    padding: 10px;
    display: flex;
    justify-content: space-around
}



.nav__2 {
    display: flex;
    padding-left: 20px;
    padding-right: 40px;

    img {
        width: 50px;
        height: 50px;
    }
}

.navbar-collapse {
    display: flex;
    justify-content: space-around;

    ul {
        li {
            padding: 10px;
            :hover{
                color: $Hover-Color;
            }
            a {
                font-size: $Letranav;
                color: aliceblue;
            }
        }
    }
}

/*Nav Resto pag*/
.navBarAllPrincipal{
    padding: 0;
    
   
}

.navBarAll{
    text-align: center;
    background-color: $Fondo-color;
}
.navPrincipalAll{
    display: flex;
    justify-content: center;
      
}

.nav__1{
  position: absolute;
  left: 90%;
}

/*Nav Resto pag*/

/*NavSecundarioProductos*/
.NavSecundarioProductos{
    display: flex;
    padding: 20px;
   
   
    ul{
        
        border-radius: 5%;
        li{
            button{
                color: rgb(116, 6, 6);
                font-size: 2em;
            }
            
        }
    }
    
}




/*NavSecundarioProductos*/




.divmargin{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    padding: 5px;
    input{
        width: 170px;
        height: 40px;
    }
    select{
        width: 170px;
        height: 40px;
    }
   
}
