.contenedorProducto {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 100px;
    gap: 40px;


}

.tittleProductos {
    padding-left: 20px;
}

.cardSale {

    display: flex;
    justify-content: flex-end;

    .cardSale__categoria {

        padding: 5px;
        color: aliceblue;
        background-color: $primary-color ;
    }
}

.card {

    h5 {
        text-align: center;
    }

    .precioStock {
        text-align: center;
    }

    button {
        background-color: $primary-color ;
    }
}


.cardProductos {
    padding: 50px;
}

.camiseta {
    padding: 10px;
    p {
        padding: 8px;
        width: 75px;
        background-color: $primary-color;
        color: #D9D9D9;
        border-radius: 10%;
        font-family: 'Lora', serif;


    }

    img {
        width: 300px;
        height: 400px;
        display: flex;
        padding-bottom: 5px;
    }

    span {
        box-sizing: border-box;
    }

}

/*Precio camiseta*/
.camiseta {

    b {
        span {
            color: #D9D9D9;
            padding: 7px;
            background-color: $primary-color;
            border-radius: 30%;
        }
    }
}

/*Precio camiseta*/

/*MENU DESPLEGABLE*/
.offcanvas{
    height: 65%;
}
.productsMenuDesp{
    max-height: 80%;
    overflow-y: scroll;
    
}



/*PRODUDCTOS 2*/

.productsMenuDesp {
    display: flex;
    flex-wrap: wrap
}