
.contenedorProducto{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 100px;

}

.cardSale {
    display: flex;
    justify-content: flex-end;
    .cardSale__categoria {
        
        padding: 5px;
        color: aliceblue;
        background-color: $primary-color ;
    }
}

.card{
    
    h5{
        text-align: center;
    }
    .precioStock{
        text-align: center;
    } 
    button{
        background-color: $primary-color ;
    }
}


.cardProductos{
    padding: 50px;
}