/*titulos*/
$titulos-max: 2rem;
$titulos-mid: 1.2rem;
$titulos-min: 15px;
/*titulos*/

/*Tamaños fuentes*/
$Letranav:30px;
/*Tamaños fuentes*/


/*Colores*/
$primary-color:#1D2C53;
$Fondo-color:#1B2B3B;
$Hover-Color:#CDA279;

/*Colores*/